<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Twit App :)</h1>
    <ul>
        <% for (twit of twits) { %>
            <li>
                <%= twit.twit %> - <b><%= twit.username %></b>
                <a href="/twits/<%= twit.id %>">Show Details</a>
                <a href="/twits/<%= twit.id %>/edit">Edit</a>
                <form method="POST" action="/twits/<%= twit.id %>?_method=DELETE">
                    <button>Delete</button>
                </form>
            </li>
        <% } %> 
    </ul> 
    <a href="/twits/new">Post New Twit</a>
</body>
</html>